/* font-family: 'Catamaran', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: aqua;
}

header{
    display: flex;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    justify-content: space-around;
    border-bottom: 2px solid #444;
}
body {
    background-color: #000;
}

.menu{

    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    

}
.menu ul li{
    padding: 20px;


}
.menu li a {
    color: #fff;
    padding: 20px;
    transition: .5s;
    text-decoration: none;


}

.menu li a:hover{
    background-color: #444;
    
}

h1 {
    color: #fff;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

/* css grid layout */

.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 0px solid #fff;
    display: grid;
    padding: 0px 20px 0px 20px;
    grid-template-areas: 
    "sidenav item item"
    "sidenav item item"
    "sidenav item item"
    "footer footer footer";
    gap: 20px;
    justify-content: center;
}

img {
    width: 100%;
    border-radius: 20px;
}

.sidenav {
    max-width: 300px;
    min-width: 250px;
    height: 950px;
    background-color: #333;
    border-radius: 20px;
    grid-area: "sidenav";
    grid-row: sidenav;
}

.item {
    max-width: 300px;
    min-width: 250px;
    height: 300px;
    background-color: #333;
    border-radius: 20px;
    grid-area: "item";
}

.footer{
    width: auto;
    height: 300px;
    background-color: #333;
    border-radius: 20px;
    grid-area: "footer";
    grid-column: footer;
}

@media (max-width: 820px) {

    .container {

        grid-template-areas: 
        "sidenav item "
        "sidenav item "
        "sidenav item "
        "sidenav item "
        "sidenav item "
        "sidenav item "
        "footer footer ";
        gap: 20px;
    }
}


@media (max-width: 520px) {
    .sidenav {
        height: 200px;
    }

    .container {
   
        grid-template-areas: 
        "sidenav "
        "item    "
        "item    "
        "item    "
        "item    "
        "item    "
        "item    "
        "footer  ";
        gap: 20px;
    }
    
}
